*{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 350px;
    padding-right: 350px;
    
}

header{
    display: grid;
    place-items: center;
    justify-content: center;
}

h1{
    width: 100%;
    font-family: 'lobster', cursive;
    color: rgb(128, 22, 22);
    font-size: 3.5em;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
    "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
    "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
    gap: 12px;
}

.efeito{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 1.5s;
}

.efeito:nth-child(1){
    grid-area: f1;
    background-position: center;
}

.efeito:nth-child(2){
    grid-area: f2;
    background-position: center;
    background-color: gold;
}

.efeito:nth-child(3){
    grid-area: f3;
    background-position: center;
    background-color: rgb(117, 190, 117);
}

.efeito:nth-child(4){
    grid-area: f4;
    background-position: center;
    background-color: rgb(126, 126, 216);
}

.efeito:nth-child(5){
    grid-area: f5;
    background-position: center;
    background-color: rgb(192, 114, 223);
}

.efeito:nth-child(6){
    grid-area: f6;
    background-position: center;
    background-color: purple;
}

.efeito:nth-child(7){
    grid-area: f7;
    background-position: center;
    background-color: pink;
}

.efeito:nth-child(8){
    grid-area: f8;
    background-position: center;
    background-color: brown;
}

.info{
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;
    background-color: gold;
    transform: translateY(100%);
    transition: 1s;
    color: white;
    border-radius: 0px 5px 5px 0px;
    display: grid;
}

.info a{
    color: black;
    text-decoration: none;
    place-self: center;
    font-size: 1.2em;
}

.foto:hover > .info{
    transform: translateY(0%);
}

.info a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver_mais{
    border-radius: 50px;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.ver_mais * {
    text-decoration: none;
    color: black;
}

.ver_mais:hover{
    border-style: solid;
    transform: scale(1.0);
}

@media (max-width:768px){
    body{
        height: auto;
        padding-right: 24px;
        padding-left: 24px;
        background-position: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .efeito{
        width: 100%;
        height: 33vh;
    }
}